.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h1 {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: black;
  text-shadow: 1px 1px #aaaaaa;
}

body {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #aaaaaa;
}

#searchCity {
  margin: 0 auto;
  background: #32e0c4;
  color: #ffffff;
  font-size: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid #aacfcf;
  box-shadow: 1px 1px 1px #d5d5d5;
}

#searchLocation {
  margin: 0 auto;
  background: #0e7378;
  color: #ffffff;
  font-size: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid #aacfcf;
  box-shadow: 1px 1px 1px #d5d5d5;
}

h3 {
  color: black;
}

#dayDate {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#time {
  line-height: normal;
}

#temp {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

#signature {
  font-size: smaller;
  color: #f9c0c0;
}
